name: Update News NoKey

on:
  schedule:
    - cron: '0 6-22/2 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Run Grabber
      # KEINE SECRETS MEHR NÖTIG!
      run: node grabber.js

    - name: Commit and Push changes
      run: |
        git config --global user.name 'NewsBot'
        git config --global user.email 'bot@noreply.github.com'
        git add news.json
        git commit -m "Update News" || echo "Keine Änderungen"
        git push
